<template>
  <div >
    <h1>"npm install" est encore en cours ....</h1>
   </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
